<style>
.gdpr-ecommore {
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 15px;
    background-color: var(--backgroundcookiesgdpr);
    box-shadow: 0 2px 50px rgb(0 0 0 / 30%);
    font-size: 12px;
    line-height: 1.5;
    max-width: 100%;
    z-index: 9999999999;
    color: var(--colortextcookiesgdpr);
}
.gdpr-ecommore  .gdpr__text, .gdpr-ecommore .gdpr__choices {
  margin: auto;
}
.gdpr-ecommore .gdpr__text .gdpr_heading {
  display:block;
  margin: 0 0 0.5em 0;
  font-family: var(--fontfamilyheadingcookiesgdpr) !important;
  font-style: normal;
  text-transform: uppercase;
  font-size: 16px;
}
.gdpr-ecommore .gdpr__text p {
  margin-bottom: 1em;
  font-size: 11px;
  line-height: 15px;
  font-family: var(--fontfamilytextcookiesgdpr) !important;
}
@media (max-width: 767px){
  .gdpr-ecommore .gdpr__text p {
    line-height: 20px;
  } 
}
 
.gdpr-ecommore .gdpr__text a {
  color: var(--colorlinkcookiesgdpr);
  font-size: 11px;
  font-weight: 600;
  font-family: var(--fontfamilylinkcookiesgdpr) !important;
  text-decoration: underline;
}
.gdpr-ecommore .gdpr__text a:hover {
  color: var(--hovercolorlinkcookiesgdpr);
}
  
.gdpr-ecommore-checkboxes {
  display: inline-block;
}
.gdpr-ecommore-checkboxes label {
  margin-right: 10px;
  font-size: 11px;
  display: inline-block !important;
  vertical-align: middle;
  line-height: 1.5 !important;
  margin-bottom: 10px;
}
.gdpr-ecommore-checkboxes [type=checkbox]:not(:checked),
.gdpr-ecommore-checkboxes [type=checkbox]:checked {
  position: absolute !important;
  left: -9999px;
}
.gdpr-ecommore-checkboxes [type=checkbox]:not(:checked) + label,
.gdpr-ecommore-checkboxes [type=checkbox]:checked + label {
  position: relative;
  padding-left: 1.7em;
  cursor: pointer;
}
.gdpr-ecommore-checkboxes [type=checkbox]:not(:checked) + label:before,
.gdpr-ecommore-checkboxes [type=checkbox]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.25em;
  height: 1.25em;
  border: 1px solid #cccccc;
  background: #ffffff;
}
.gdpr-ecommore-checkboxes [type=checkbox]:not(:checked) + label:after,
.gdpr-ecommore-checkboxes [type=checkbox]:checked + label:after {
  content: "✔";
  position: absolute;
  top: 0.1em;
  left: 0.1em;
  font-size: 1.4em;
  line-height: 0.8;
  color: #000000;
  transition: all 0.2s;
}
.gdpr-ecommore-checkboxes [type=checkbox]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.gdpr-ecommore-checkboxes [type=checkbox]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
.gdpr-ecommore-checkboxes [type=checkbox]:disabled:not(:checked) + label:before,
.gdpr-ecommore-checkboxes [type=checkbox]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #f5f5f5;
}
.gdpr-ecommore-checkboxes [type=checkbox]:disabled:checked + label:after {
    opacity: 0.5;
}
#gdpr-ok-custom{
    background: var(--backgroundnecesariascookiesgdpr);
    color: var(--colortextnecesariascookiesgdpr);
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
    max-width: 285px;
    text-align: center;
    margin-bottom: 10px;
}
  #gdpr-ok-all {
    background: var(--backgroundpermitirtodascookiesgdpr);
    color: var(--colortext_permtiirtodascookiesgdpr);
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    max-width: 200px;
    display: inline-block;
    text-align: center;
  }
  
  .hide{
  display:none !important;
  }
  
  
</style>


<div id="gdpr-popup-container" class="gdpr-ecommore">
  <div class="gdpr__text">
    <span class="gdpr_heading">Esta página web usa cookies</span>
    <p>Mozzafiato utiliza las cookies que son necesarias para la navegación y el funcionamiento de su página web. Opcionalmente, usted podrá seleccionar si también acepta la aplicación de cookies para fines adicionales. Para más información, dirijase a nuestra <a href="/pages/politica-de-privacidad">Política de Privacidad.</a> Pueden aceptar todas las cookies presionando "OK".</p>
  </div>
  <div class="gdpr__choices">
    <div class="gdpr-ecommore-checkboxes">
      <input name="technical" id="technical" type="checkbox" checked="checked" disabled="disabled"/>
      <label for="technical" title="Las cookies técnicas son necesarias para el correcto funcionamiento de CB Studio y por ello no se pueden deshabilitar.">Necesario</label>
      <input name="marketing" id="marketing" type="checkbox"/>
      <label for="marketing" title="Las cookies de marketing se utilizan para rastrear a los visitantes en los sitios web. La intención es mostrar anuncios relevantes y atractivos para el usuario">Marketing</label>
      <input name="statistics" id="statistics" type="checkbox" />
      <label for="statistics" title="Las cookies estadísticas ayudan a los propietarios de sitios web a comprender cómo los visitantes interactúan con los sitios mediante la recopilación y transmisión de información de forma anónima.">Estadística</label>
      <input name="not_classified" id="not_classified" type="checkbox" />
      <label for="not_classified" title="Las cookies no clasificadas son cookies para las que todavía estamos en proceso de clasificar, junto con los proveedores de cookies individuales.">No clasificadas</label>
     <input name="preferences" id="preferences" type="checkbox"/>
      <label for="preferences" title="Las cookies de preferencia permiten que un sitio web recuerde información que afecta la forma en que el sitio se comporta o se presenta, como su idioma preferido o la región en la que se encuentra.">Preferencias</label>
    </div>
  <div style="display:inline-block;float:right">
    <span id="gdpr-ok-custom">Usar cookies seleccionadas</span>
    <span id="gdpr-ok-all">Permitir todas</span>
    </div>
  </div>
</div>


<script>
  
  
var gdprOkButton = document.getElementById("gdpr-ok-custom");
var gdprOkButtonall = document.getElementById("gdpr-ok-all");
var preferences = document.getElementById("preferences");
var statistics = document.getElementById("statistics");
var marketing = document.getElementById("marketing");
var not_classified = document.getElementById("not_classified");
var gdprBox = document.getElementById("gdpr-popup-container");

function setCookieGdpr(cname, cvalue, exdays) {
    var expires = "";
    if (exdays != undefined) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        expires = "expires=" + d.toUTCString();
    } else {
        expires = "expires = Fri, 31 Dec 9999 23:59:59 GMT";
    }
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}

var consensoCookie = {
    preferences : "no",
    statistics : "no",
    marketing : "no",
    not_classified: "no"
}

function getConsensoCookie() {
    var stringa = getCookieGdpr("gdprConsentCBStudioPeru");
    var consenso = JSON.parse(stringa);
    return consenso;
}

function getCookieGdpr(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}

gdprOkButton.addEventListener("click", function (event) {
    event.preventDefault();
  
    if (preferences.checked) { consensoCookie.preferences = "ok"; } else { consensoCookie.preferences = "no"; }
    if (statistics.checked) { consensoCookie.statistics = "ok"; } else { consensoCookie.statistics = "no"; }
    if (marketing.checked) { consensoCookie.marketing = "ok"; } else { consensoCookie.marketing = "no"; }
  if (not_classified.checked) { consensoCookie.not_classified = "ok"; } else { consensoCookie.not_classified = "no"; }
    setCookieGdpr("gdprConsentCBStudioPeru", JSON.stringify(consensoCookie));
    gdprBox.classList.add('hide');
});
  
  
gdprOkButtonall.addEventListener("click", function (event) {
    event.preventDefault();
  
   consensoCookie.preferences = "ok";
   consensoCookie.statistics = "ok";
   consensoCookie.marketing = "ok";
   consensoCookie.not_classified = "ok";
   setCookieGdpr("gdprConsentCBStudioPeru", JSON.stringify(consensoCookie));
   gdprBox.classList.add('hide');
});
var consenso = getCookieGdpr("gdprConsentCBStudioPeru");
  

if (consenso !== "") {
    gdprBox.classList.add('hide');
    setCookieGdpr("gdprConsentCBStudioPeru", JSON.stringify(consensoCookie));
}


</script>